@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
   margin: 0;
   padding: 0;
   font-size: 16px;
   box-sizing: border-box;

   font-family: 'Nunito', sans-serif;
}

h1 {
   font-size: 50px;
   font-weight: bold;
}

.section {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2%;
   padding: 2%;
   height: 100vh;

   &:nth-child(odd) {
      background-color: lightcoral;
   }

   &:nth-child(even) {
      background-color: lightcyan;
   }

   &--column {
      flex-flow: wrap column;
   }

   &--row {
      flex-flow: wrap row;
   }

   &--grid {
      flex-wrap: wrap;
      .card {
         flex-grow: 1;
      }
   }

   &__container {
      position: relative;
      overflow-y: hidden;
      width: 80vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      border-radius: 4px;
      padding: 20px;
      color: white;

      & *:not(img) {
         z-index: 1;
      }
   }

   &__bg {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
   }
}

.card {
   background-color: white;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   border-radius: 4px;
   height: 20%;
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

// Standard styles for the to-be animated elements
div[data-animate],
div[data-animation-child] {
   opacity: 0;

   @media (max-width: 767px) {
      animation-delay: 0ms;
   }
}

div[data-animation-parent] {
   opacity: 1;
}

// Standard styles for specific animation variants
div[data-animate*='fadeIn'] {
   @media (max-width: 767px) {
      animation-delay: 0ms;
   }
}

// Either set delay as inline style variable
// or generate classes for list of set delays
.fadeIn {
   // Inline style variables
   &Left {
      animation: fadeInLeft 1s forwards;
      animation-delay: var(--delay, 0ms);
   }

   &Right {
      animation: fadeInRight 1s forwards;
      animation-delay: var(--delay, 0ms);
   }

   &Down {
      animation: fadeInDown 1s forwards;
      animation-delay: var(--delay, 0ms);
   }

   &Up {
      animation: fadeInUp 1s forwards;
      animation-delay: var(--delay, 0ms);
   }

   // Generated classes for list of delays
   $delays: 0, 100, 200, 300, 400;

   @each $delay in $delays {
      &Left--#{ $delay } {
         animation: fadeInLeft 1s forwards #{$delay}ms;

         @media (max-width: 767px) {
            animation-delay: 0ms;
         }
      }

      &Right--#{ $delay } {
         animation: fadeInRight 1s forwards #{$delay}ms;

         @media (max-width: 767px) {
            animation-delay: 0ms;
         }
      }

      &Down--#{ $delay } {
         animation: fadeInDown 1s forwards #{$delay}ms;

         @media (max-width: 767px) {
            animation-delay: 0ms;
         }
      }

      &Up--#{ $delay } {
         animation: fadeInUp 1s forwards #{$delay}ms;

         @media (max-width: 767px) {
            animation-delay: 0ms;
         }
      }
   }
}

@keyframes fadeInLeft {
   from {
      opacity: 0;
      transform: translateX(-50%);
   }

   to {
      opacity: 1;
      transform: translateX(0%);
   }
}

@keyframes fadeInRight {
   from {
      opacity: 0;
      transform: translateX(50%);
   }

   to {
      opacity: 1;
      transform: translateX(0%);
   }
}

@keyframes fadeInDown {
   from {
      opacity: 0;
      transform: translateY(50%);
   }

   to {
      opacity: 1;
      transform: translateY(0%);
   }
}

@keyframes fadeInUp {
   from {
      opacity: 0;
      transform: translateY(50%);
   }

   to {
      opacity: 1;
      transform: translateY(0%);
   }
}

.counter {
   opacity: 0;
   font-size: 50px;
   color: lightcoral;
   transition: opacity 50ms ease;

   &.active {
      opacity: 1;
   }
}
